<main class="main-body">
  <p class="img-welcomeLeft">
    <img src="welcome-left.png">
  </p>
  <h2 class="home-h2">Organise Your <br>
    todos now<br>
    <%= link_to "Get started", new_session_path, class:"get-started" %>
  </h2>
  <p class="img-welcomeRight">
    <img src="welcome-right.png">
  </p>
</main>
