<h1>Upcoming todo</h1>
<p>
  <%= @greeting+" "+@name %>, This is a gentle remainder for your Upcoming todo
</p>
<h3> <%= @todo_text %> </h3>
<h3> <%= @due_date %> </h3>
You can check in webapp: "http://pratap-todo-manager-saas-201.herokuapp.com"
<br>
<p>Thank you!</p>
